body {
    font-family: sans-serif;
    background-color: grey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 250px;
}
p
{ background-image:url("http://images5.fanpop.com/image/photos/30900000/beautiful-pic-different-beautiful-pictures-30958249-800-600.jpg");background-position:30;
}
