
body{
background-color: #CE9548 ;
text-align:center;
font-size:40px;

    
}
form{
    border: 20px;
    background:aqua;
    
}

.pwd{
    padding:20px;
    font-size:15px;
}
.username{
    padding:20px;
    font-size:15px;
}
.b1{
    background:green;
    color: white;
    border:20px;
    font-size:50px;
    padding:20px;
}
.p1{
    color:steelblue;
}
